*.pyc
*~
*.egg-info
sync.ffs_db
pyqtgraph_extensions/test/test.svg
.cache/v/cache/lastfailed
.idea/misc.xml
.idea/modules.xml
.idea/pyqtgraph_extensions.iml
.idea/vcs.xml
.idea/workspace.xml
env
build
.pytest_cache
.DS_Store
.eggs
.tox
.idea
test.pdf
test.png
test.svg
dist